Data from Github: Glassdoor_jobs.csv from Ken Jee

Data Wrangling  by Elizabeth Ramos

In [6]:
# import libraries for data manipulation and exploration
import pandas as pd

## 1. Loading and Inspecting the Data

In [85]:
# read the file
df = pd.read_csv(r'......Glassdor Jobs - Python\glassdoor_jobs.csv')

In [86]:
# Look at the data to see how is like
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

Observations:
- The Unamed Column is not adding value, we should remove it
- Clean the Salary Estimate: remove the (Glassdor est), remove the K and -
- Parse the company name (text only)
- Agregate a column - State
- Extract skills from job description
- Calculate company years in bussines

In [87]:
# Check all columns datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         956 non-null    int64
 1   Job Title          956 non-null    object
 2   Salary Estimate    956 non-null    object
 3   Job Description    956 non-null    object
 4   Rating             956 non-null    float64
 5   Company Name       956 non-null    object
 6   Location           956 non-null    object
 7   Headquarters       956 non-null    object
 8   Size               956 non-null    object
 9   Founded            956 non-null    int64
 10  Type of ownership  956 non-null    object
 11  Industry           956 non-null    object
 12  Sector             956 non-null    object
 13  Revenue            956 non-null    object
 14  Competitors        956 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 112.2+ KB

Observations:
- 956 observations and 15 variables
- We have several datatypes that need to be change like salary estimate------

## 2. Data Cleaning

In [88]:
# Check for null values (if any)
df.isnull().values.any()

False

In [89]:
# Check for duplicates
df.duplicated().sum()

0

In [90]:
# Check for unique values in general to get a better picture of the data values
print(df.apply(lambda col: col.unique()))

Unnamed: 0           [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
Job Title            [Data Scientist, Healthcare Data Scientist, Re...
Salary Estimate      [$53K-$91K (Glassdoor est.), $63K-$112K (Glass...
Job Description      [Data Scientist\nLocation: Albuquerque, NM\nEd...
Rating               [3.8, 3.4, 4.8, 2.9, 4.1, 3.3, 4.6, 3.5, 3.2, ...
Company Name         [Tecolote Research\n3.8, University of Marylan...
Location             [Albuquerque, NM, Linthicum, MD, Clearwater, F...
Headquarters         [Goleta, CA, Baltimore, MD, Clearwater, FL, Ri...
Size                 [501 to 1000 employees, 10000+ employees, 1001...
Founded              [1973, 1984, 2010, 1965, 1998, 2000, 2008, 200...
Type of ownership    [Company - Private, Other Organization, Govern...
Industry             [Aerospace & Defense, Health Care Services & H...
Sector               [Aerospace & Defense, Health Care, Business Se...
Revenue              [$50 to $100 million (USD), $2 to $5 billion (...
Competitors          [-1, Oak Ridge National Laboratory, National R...
dtype: object

In [92]:
# Lets drop the Unamed column
jobs = df.drop(['Unnamed: 0'],axis =1)

In [94]:
jobs.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [95]:
# Before starts cleaning lets inspect what is actually in each column
jobs['Job Title'].value_counts()

Data Scientist                                                        178
Data Engineer                                                          68
Senior Data Scientist                                                  42
Data Analyst                                                           18
Senior Data Engineer                                                   17
                                                                     ...
Program/Data Analyst                                                    1
Software Engineer (Data Scientist/Software Engineer) - SISW - MG        1
Associate Research Scientist I (Protein Expression and Production)      1
Senior Engineer, Data Management Engineering                            1
Sr. Manager, Data Science - Marketing Mix Media                         1
Name: Job Title, Length: 328, dtype: int64

In [96]:
# Variable 'Salary Estimate'. Lets check what values it contains:
unique_v = jobs['Salary Estimate'].unique()
print (unique_v)

['$53K-$91K (Glassdoor est.)' '$63K-$112K (Glassdoor est.)'
 '$80K-$90K (Glassdoor est.)' '$56K-$97K (Glassdoor est.)'
 '$86K-$143K (Glassdoor est.)' '$71K-$119K (Glassdoor est.)'
 '$54K-$93K (Glassdoor est.)' '$86K-$142K (Glassdoor est.)'
 '$38K-$84K (Glassdoor est.)' '$120K-$160K (Glassdoor est.)'
 '$126K-$201K (Glassdoor est.)' '$64K-$106K (Glassdoor est.)'
 '$106K-$172K (Glassdoor est.)' '$46K-$85K (Glassdoor est.)'
 '$83K-$144K (Glassdoor est.)' '$102K-$190K (Glassdoor est.)'
 '$67K-$137K (Glassdoor est.)' '$118K-$189K (Glassdoor est.)'
 '$110K-$175K (Glassdoor est.)' '$64K-$111K (Glassdoor est.)'
 '$81K-$130K (Glassdoor est.)' '$73K-$119K (Glassdoor est.)'
 '$86K-$139K (Glassdoor est.)' '$63K-$105K (Glassdoor est.)' '-1'
 '$109K-$177K (Glassdoor est.)' '$63K-$110K (Glassdoor est.)'
 '$75K-$124K (Glassdoor est.)' '$34K-$61K (Glassdoor est.)'
 '$72K-$120K (Glassdoor est.)' '$93K-$149K (Glassdoor est.)'
 '$85K-$140K (Glassdoor est.)' '$77K-$135K (Glassdoor est.)'
 '$82K-$132K (Glassdoor est.)' '$83K-$137K (Glassdoor est.)'
 '$115K-$180K (Glassdoor est.)' '$74K-$138K (Glassdoor est.)'
 '$64K-$112K (Glassdoor est.)' '$68K-$129K (Glassdoor est.)'
 '$52K-$113K (Glassdoor est.)' '$110K-$150K(Employer est.)'
 'Employer Provided Salary:$150K-$160K' '$158K-$211K (Glassdoor est.)'
 '$20K-$39K (Glassdoor est.)' '$56K-$117K (Glassdoor est.)'
 '$63K-$99K (Glassdoor est.)' '$68K-$114K (Glassdoor est.)'
 '$41K-$95K (Glassdoor est.)' '$86K-$144K (Glassdoor est.)'
 '$80K-$139K (Glassdoor est.)' '$56K-$95K (Glassdoor est.)'
 '$120K-$189K (Glassdoor est.)' '$111K-$176K (Glassdoor est.)'
 '$84K-$146K (Glassdoor est.)' '$107K-$172K (Glassdoor est.)'
 '$49K-$85K (Glassdoor est.)' '$61K-$109K (Glassdoor est.)'
 '$88K-$148K (Glassdoor est.)' '$60K-$99K (Glassdoor est.)'
 '$41K-$72K (Glassdoor est.)' '$96K-$161K (Glassdoor est.)'
 '$65K-$130K (Glassdoor est.)' '$52K-$81K (Glassdoor est.)'
 '$139K-$220K (Glassdoor est.)' '$50K-$102K (Glassdoor est.)'
 '$85K-$139K (Glassdoor est.)' '$74K-$122K (Glassdoor est.)'
 '$99K-$157K (Glassdoor est.)' '$79K-$222K (Glassdoor est.)'
 '$57K-$118K (Glassdoor est.)' '$86K-$141K (Glassdoor est.)'
 '$94K-$154K (Glassdoor est.)' '$37K-$76K (Glassdoor est.)'
 '$100K-$160K (Glassdoor est.)' '$55K-$100K (Glassdoor est.)'
 '$60K-$114K (Glassdoor est.)' '$39K-$68K (Glassdoor est.)'
 '$64K-$107K (Glassdoor est.)' '$31K-$65K (Glassdoor est.)'
 '$34K-$62K (Glassdoor est.)' '$117K-$231K (Glassdoor est.)'
 '$79K-$134K (Glassdoor est.)' '$52K-$93K (Glassdoor est.)'
 '$55K-$116K (Glassdoor est.)' '$72K-$123K (Glassdoor est.)'
 '$74K-$124K (Glassdoor est.)' '$40K-$73K (Glassdoor est.)'
 '$102K-$164K (Glassdoor est.)' '$89K-$153K (Glassdoor est.)'
 '$61K-$110K (Glassdoor est.)' '$65K-$110K (Glassdoor est.)'
 '$200K-$275K(Employer est.)' '$68K-$123K (Glassdoor est.)'
 '$80K-$129K (Glassdoor est.)' '$39K-$71K (Glassdoor est.)'
 '$38K-$85K (Glassdoor est.)' '$121K-$193K (Glassdoor est.)'
 '$54K-$102K (Glassdoor est.)' '$102K-$163K (Glassdoor est.)'
 '$76K-$140K (Glassdoor est.)' '$60K-$101K (Glassdoor est.)'
 '$82K-$133K (Glassdoor est.)' '$65K-$125K (Glassdoor est.)'
 '$91K-$148K (Glassdoor est.)' '$95K-$173K (Glassdoor est.)'
 '$77K-$124K (Glassdoor est.)' '$80K-$135K (Glassdoor est.)'
 '$85K-$159K (Glassdoor est.)' '$80K-$105K(Employer est.)'
 '$43K-$81K (Glassdoor est.)' '$29K-$50K (Glassdoor est.)'
 '$26K-$55K (Glassdoor est.)' '$61K-$118K (Glassdoor est.)'
 '$60K-$102K (Glassdoor est.)' '$112K-$182K (Glassdoor est.)'
 '$51K-$112K (Glassdoor est.)' '$113K-$223K (Glassdoor est.)'
 '$72K-$129K (Glassdoor est.)' '$71K-$123K (Glassdoor est.)'
 'Employer Provided Salary:$120K-$145K' '$80K-$120K (Glassdoor est.)'
 '$80K-$130K (Glassdoor est.)' '$59K-$115K (Glassdoor est.)'
 '$71K-$136K (Glassdoor est.)' '$81K-$167K (Glassdoor est.)'
 '$71K-$204K (Glassdoor est.)' '$75K-$125K (Glassdoor est.)'
 '$77K-$136K (Glassdoor est.)' '$74K-$123K (Glassdoor est.)'
 '$44K-$78K (Glassdoor est.)' '$65K-$148K (Glassdoor est.)'
 '$59K-$110K (Glassdoor est.)' '$85K-$134K (Glassdoor est.)'
 '$124K-$204K (Glassdoor est.)' '$131K-$207K (Glassdoor est.)'
 '$110K-$174K (Glassdoor est.)' '$52K-$101K (Glassdoor est.)'
 '$81K-$133K (Glassdoor est.)' '$132K-$211K (Glassdoor est.)'
 '$74K-$140K (Glassdoor est.)' '$100K-$190K (Glassdoor est.)'
 '$43K-$80K (Glassdoor est.)' '$17-$24 Per Hour(Glassdoor est.)'
 '$91K-$149K (Glassdoor est.)' '$42K-$82K (Glassdoor est.)'
 '$116K-$185K (Glassdoor est.)' '$59K-$116K (Glassdoor est.)'
 '$48K-$95K (Glassdoor est.)' '$31K-$72K (Glassdoor est.)'
 '$105K-$198K (Glassdoor est.)' '$98K-$182K (Glassdoor est.)'
 '$73K-$124K (Glassdoor est.)' 'Employer Provided Salary:$200K-$250K'
 '$21-$34 Per Hour(Glassdoor est.)' '$117K-$206K (Glassdoor est.)'
 '$111K-$183K (Glassdoor est.)' '$81K-$159K (Glassdoor est.)'
 '$83K-$166K (Glassdoor est.)' '$114K-$182K (Glassdoor est.)'
 '$42K-$76K (Glassdoor est.)' '$114K-$179K (Glassdoor est.)'
 '$60K-$123K (Glassdoor est.)' '$100K-$166K (Glassdoor est.)'
 '$108K-$173K (Glassdoor est.)' '$48K-$93K (Glassdoor est.)'
 '$54K-$115K (Glassdoor est.)' '$60K-$127K (Glassdoor est.)'
 '$90K-$179K (Glassdoor est.)' '$138K-$224K (Glassdoor est.)'
 '$190K-$220K(Employer est.)' '$35K-$62K (Glassdoor est.)'
 '$18-$25 Per Hour(Glassdoor est.)' '$39K-$66K (Glassdoor est.)'
 '$42K-$86K (Glassdoor est.)' '$69K-$127K (Glassdoor est.)'
 '$40K-$68K (Glassdoor est.)' '$49K-$113K (Glassdoor est.)'
 '$75K-$140K (Glassdoor est.)' '$66K-$112K (Glassdoor est.)'
 '$76K-$125K (Glassdoor est.)' '$44K-$86K (Glassdoor est.)'
 '$15-$25 Per Hour(Glassdoor est.)' '$53K-$92K (Glassdoor est.)'
 '$65K-$120K (Glassdoor est.)' '$60K-$103K (Glassdoor est.)'
 '$53K-$105K (Glassdoor est.)' '$33K-$62K (Glassdoor est.)'
 '$48K-$90K (Glassdoor est.)' '$34K-$64K (Glassdoor est.)'
 '$66K-$111K (Glassdoor est.)' '$91K-$138K (Glassdoor est.)'
 '$62K-$114K (Glassdoor est.)' '$71K-$129K (Glassdoor est.)'
 '$74K-$119K (Glassdoor est.)' '$55K-$97K (Glassdoor est.)'
 '$15K-$16K(Employer est.)' '$61K-$106K (Glassdoor est.)'
 '$127K-$199K (Glassdoor est.)' '$74K-$126K (Glassdoor est.)'
 '$33K-$72K (Glassdoor est.)' '$37K-$63K (Glassdoor est.)'
 '$67K-$119K (Glassdoor est.)' '$72K-$117K (Glassdoor est.)'
 '$78K-$126K (Glassdoor est.)' '$116K-$194K (Glassdoor est.)'
 '$83K-$133K (Glassdoor est.)' '$45K-$82K (Glassdoor est.)'
 '$83K-$135K (Glassdoor est.)' '$70K-$122K (Glassdoor est.)'
 '$70K-$132K (Glassdoor est.)' '$54K-$101K (Glassdoor est.)'
 '$68K-$112K (Glassdoor est.)' '$42K-$74K (Glassdoor est.)'
 '$95K-$161K (Glassdoor est.)' '$76K-$126K (Glassdoor est.)'
 '$108K-$176K (Glassdoor est.)' '$130K-$208K (Glassdoor est.)'
 '$37K-$68K (Glassdoor est.)' '$52K-$99K (Glassdoor est.)'
 '$105K-$173K (Glassdoor est.)' '$71K-$134K (Glassdoor est.)'
 '$39K-$82K (Glassdoor est.)' '$88K-$162K (Glassdoor est.)'
 '$55K-$99K (Glassdoor est.)' '$67K-$117K (Glassdoor est.)'
 '$92K-$150K (Glassdoor est.)' '$116K-$209K (Glassdoor est.)'
 '$38K-$82K (Glassdoor est.)' 'Employer Provided Salary:$85K-$90K'
 '$62K-$119K (Glassdoor est.)' '$84K-$136K (Glassdoor est.)'
 '$52K-$89K (Glassdoor est.)' '$65K-$119K (Glassdoor est.)'
 '$63K-$101K (Glassdoor est.)' '$127K-$202K (Glassdoor est.)'
 '$31K-$57K (Glassdoor est.)' '$75K-$143K (Glassdoor est.)'
 '$105K-$194K (Glassdoor est.)' '$45K-$86K (Glassdoor est.)'
 '$95K-$154K (Glassdoor est.)' '$80K-$148K (Glassdoor est.)'
 '$36K-$62K (Glassdoor est.)' '$50K-$92K (Glassdoor est.)'
 '$67K-$135K (Glassdoor est.)' '$42K-$80K (Glassdoor est.)'
 '$68K-$139K (Glassdoor est.)' '$34K-$92K (Glassdoor est.)'
 '$54K-$71K (Glassdoor est.)' '$65K-$124K (Glassdoor est.)'
 '$109K-$200K (Glassdoor est.)' '$61K-$113K (Glassdoor est.)'
 '$43K-$86K (Glassdoor est.)' '$74K-$149K (Glassdoor est.)'
 '$113K-$196K (Glassdoor est.)' '$97K-$160K (Glassdoor est.)'
 '$24-$39 Per Hour(Glassdoor est.)' '$102K-$172K (Glassdoor est.)'
 '$108K-$171K (Glassdoor est.)' '$76K-$142K (Glassdoor est.)'
 '$202K-$306K (Glassdoor est.)' '$49K-$97K (Glassdoor est.)'
 '$65K-$134K (Glassdoor est.)' '$32K-$59K (Glassdoor est.)'
 '$87K-$158K (Glassdoor est.)' '$107K-$173K (Glassdoor est.)'
 '$56K-$99K (Glassdoor est.)' 'Employer Provided Salary:$25-$28 Per Hour'
 '$80K-$155K (Glassdoor est.)' '$43K-$98K (Glassdoor est.)'
 '$45K-$78K (Glassdoor est.)' '$44K-$96K (Glassdoor est.)'
 '$50K-$110K (Glassdoor est.)' '$61K-$119K (Glassdoor est.)'
 'Employer Provided Salary:$100K-$140K' '$56K-$91K (Glassdoor est.)'
 '$101K-$158K (Glassdoor est.)' '$125K-$210K (Glassdoor est.)'
 '$43K-$77K (Glassdoor est.)' '$139K-$221K (Glassdoor est.)'
 '$78K-$147K (Glassdoor est.)' '$37K-$66K (Glassdoor est.)'
 '$38K-$64K (Glassdoor est.)' '$43K-$82K (Glassdoor est.)'
 '$90K-$110K(Employer est.)' '$93K-$151K (Glassdoor est.)'
 '$40K-$101K (Glassdoor est.)' '$97K-$180K (Glassdoor est.)'
 '$81K-$134K (Glassdoor est.)' '$84K-$157K (Glassdoor est.)'
 '$121K-$203K (Glassdoor est.)' '$52K-$85K (Glassdoor est.)'
 '$81K-$140K (Glassdoor est.)' '$83K-$148K (Glassdoor est.)'
 '$31K-$55K (Glassdoor est.)' '$102K-$178K (Glassdoor est.)'
 'Employer Provided Salary:$110K-$130K' '$48K-$85K (Glassdoor est.)'
 '$66K-$123K (Glassdoor est.)' '$92K-$146K (Glassdoor est.)'
 '$21-$29 Per Hour(Glassdoor est.)' '$10-$17 Per Hour(Glassdoor est.)'
 '$150K-$239K (Glassdoor est.)' '$52K-$91K (Glassdoor est.)'
 '$82K-$129K(Employer est.)' '$47K-$101K (Glassdoor est.)'
 '$49K-$76K (Glassdoor est.)' '$43K-$88K (Glassdoor est.)'
 '$124K-$199K (Glassdoor est.)' '$97K-$181K (Glassdoor est.)'
 '$100K-$173K (Glassdoor est.)' '$53K-$96K (Glassdoor est.)'
 '$65K-$96K (Glassdoor est.)' '$75K-$127K (Glassdoor est.)'
 '$94K-$139K (Glassdoor est.)' '$176K-$289K (Glassdoor est.)'
 '$92K-$149K (Glassdoor est.)' '$118K-$188K (Glassdoor est.)'
 '$108K-$146K (Glassdoor est.)' '$65K-$106K (Glassdoor est.)'
 '$55K-$98K (Glassdoor est.)' '$94K-$162K (Glassdoor est.)'
 '$63K-$120K (Glassdoor est.)' '$126K-$228K (Glassdoor est.)'
 '$80K-$134K (Glassdoor est.)' '$85K-$142K (Glassdoor est.)'
 '$87K-$140K (Glassdoor est.)' '$76K-$127K (Glassdoor est.)'
 '$54K-$92K (Glassdoor est.)' '$61K-$100K (Glassdoor est.)'
 '$112K-$179K (Glassdoor est.)' '$63K-$111K (Glassdoor est.)'
 '$75K-$126K (Glassdoor est.)' '$110K-$184K (Glassdoor est.)'
 '$76K-$145K (Glassdoor est.)' '$70K-$118K (Glassdoor est.)'
 '$94K-$153K (Glassdoor est.)' '$150K-$180K (Glassdoor est.)'
 '$42K-$77K (Glassdoor est.)' '$47K-$85K (Glassdoor est.)'
 '$62K-$112K (Glassdoor est.)' '$64K-$108K (Glassdoor est.)'
 '$89K-$144K (Glassdoor est.)' '$55K-$105K (Glassdoor est.)'
 '$135K-$211K (Glassdoor est.)' '$57K-$80K (Glassdoor est.)'
 '$129K-$215K (Glassdoor est.)' '$63K-$127K (Glassdoor est.)'
 '$50K-$89K (Glassdoor est.)' '$71K-$124K (Glassdoor est.)'
 '$69K-$121K (Glassdoor est.)' '$150K-$238K (Glassdoor est.)'
 '$77K-$132K (Glassdoor est.)' '$59K-$112K (Glassdoor est.)'
 '$35K-$65K (Glassdoor est.)' '$79K-$147K (Glassdoor est.)'
 '$119K-$187K (Glassdoor est.)' '$90K-$157K (Glassdoor est.)'
 '$32K-$62K (Glassdoor est.)' '$116K-$208K (Glassdoor est.)'
 '$102K-$165K (Glassdoor est.)' '$91K-$159K (Glassdoor est.)'
 '$80K-$133K (Glassdoor est.)' '$39K-$69K (Glassdoor est.)'
 '$27K-$48K (Glassdoor est.)' '$36K-$71K (Glassdoor est.)'
 '$130K-$206K (Glassdoor est.)' '$99K-$178K (Glassdoor est.)'
 '$86K-$137K (Glassdoor est.)' '$37K-$100K (Glassdoor est.)'
 '$58K-$111K (Glassdoor est.)' '$72K-$133K (Glassdoor est.)'
 '$61K-$126K (Glassdoor est.)' '$95K-$160K (Glassdoor est.)'
 '$33K-$61K (Glassdoor est.)' '$69K-$119K (Glassdoor est.)'
 '$67K-$127K (Glassdoor est.)' '$66K-$117K (Glassdoor est.)'
 '$50K-$98K (Glassdoor est.)' '$90K-$153K (Glassdoor est.)'
 'Employer Provided Salary:$100K-$135K' '$42K-$79K (Glassdoor est.)'
 '$84K-$153K (Glassdoor est.)' '$44K-$73K (Glassdoor est.)'
 '$40K-$87K (Glassdoor est.)' '$72K-$142K (Glassdoor est.)'
 '$74K-$137K (Glassdoor est.)' '$57K-$109K (Glassdoor est.)'
 '$136K-$208K (Glassdoor est.)' '$171K-$272K (Glassdoor est.)'
 '$65K-$126K (Glassdoor est.)' '$118K-$228K (Glassdoor est.)'
 '$113K-$182K (Glassdoor est.)' '$58K-$104K (Glassdoor est.)'
 '$58K-$108K (Glassdoor est.)' '$81K-$161K (Glassdoor est.)'
 '$115K-$220K (Glassdoor est.)' '$71K-$144K (Glassdoor est.)'
 '$32K-$57K (Glassdoor est.)' '$79K-$136K (Glassdoor est.)'
 '$48K-$113K (Glassdoor est.)' '$27-$47 Per Hour(Glassdoor est.)'
 '$68K-$125K (Glassdoor est.)' '$39K-$67K (Glassdoor est.)'
 '$71K-$135K (Glassdoor est.)' '$61K-$123K (Glassdoor est.)'
 '$87K-$141K (Glassdoor est.)' '$71K-$121K (Glassdoor est.)'
 '$72K-$121K (Glassdoor est.)' '$51K-$88K (Glassdoor est.)'
 '$101K-$141K (Glassdoor est.)' '$79K-$127K (Glassdoor est.)'
 '$81K-$132K (Glassdoor est.)' 'Employer Provided Salary:$120K-$140K'
 '$65K-$113K (Glassdoor est.)' '$59K-$125K (Glassdoor est.)'
 '$80K-$142K (Glassdoor est.)' '$62K-$113K (Glassdoor est.)']

Observations:
- We have records with a -1 which doesn't add value to it. We should delete them
- The '(Glassdoor est.)" is not adding value so we should remove it
- The 'Employer Provided Salary:' I think we should keep it (but in another column)
- Per Hour: we should keep it (but in another column)
- Add new columns for minumun and maximun salary (split Salary Estimate)
- Add a new column for avg salary
- Add a column for the most wanted skills

In [97]:
#Lets see how many records we need to delete
jobs['Salary Estimate'].value_counts()

-1                                  214
$86K-$143K (Glassdoor est.)           6
$21-$34 Per Hour(Glassdoor est.)      6
$54K-$115K (Glassdoor est.)           6
$49K-$113K (Glassdoor est.)           6
                                   ...
$79K-$127K (Glassdoor est.)           1
$115K-$180K (Glassdoor est.)          1
$39K-$82K (Glassdoor est.)            1
$33K-$61K (Glassdoor est.)            1
$68K-$125K (Glassdoor est.)           1
Name: Salary Estimate, Length: 417, dtype: int64

In [98]:
# We have 214 records we need to delete
jobs = jobs[jobs['Salary Estimate'] != '-1']

In [99]:
# Lets take a look again
jobs ['Salary Estimate'].value_counts()

$54K-$115K (Glassdoor est.)         6
$49K-$113K (Glassdoor est.)         6
$21-$34 Per Hour(Glassdoor est.)    6
$86K-$143K (Glassdoor est.)         6
$76K-$142K (Glassdoor est.)         5
                                   ..
$39K-$82K (Glassdoor est.)          1
$115K-$180K (Glassdoor est.)        1
$57K-$118K (Glassdoor est.)         1
$33K-$61K (Glassdoor est.)          1
$79K-$134K (Glassdoor est.)         1
Name: Salary Estimate, Length: 416, dtype: int64

In [100]:
# Now we need to remove the (Glassdoor est.)
# Lets use lambda function to replace, split
salary = jobs['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [35]:
salary_unique = salary.unique()
print(salary_unique)

['$53K-$91K ' '$63K-$112K ' '$80K-$90K ' '$56K-$97K ' '$86K-$143K '
 '$71K-$119K ' '$54K-$93K ' '$86K-$142K ' '$38K-$84K ' '$120K-$160K '
 '$126K-$201K ' '$64K-$106K ' '$106K-$172K ' '$46K-$85K ' '$83K-$144K '
 '$102K-$190K ' '$67K-$137K ' '$118K-$189K ' '$110K-$175K ' '$64K-$111K '
 '$81K-$130K ' '$73K-$119K ' '$86K-$139K ' '$63K-$105K ' 'Not Available'
 '$109K-$177K ' '$63K-$110K ' '$75K-$124K ' '$34K-$61K ' '$72K-$120K '
 '$93K-$149K ' '$85K-$140K ' '$77K-$135K ' '$82K-$132K ' '$83K-$137K '
 '$115K-$180K ' '$74K-$138K ' '$64K-$112K ' '$68K-$129K ' '$52K-$113K '
 '$110K-$150K' 'Employer Provided Salary:$150K-$160K' '$158K-$211K '
 '$20K-$39K ' '$56K-$117K ' '$63K-$99K ' '$68K-$114K ' '$41K-$95K '
 '$86K-$144K ' '$80K-$139K ' '$56K-$95K ' '$120K-$189K ' '$111K-$176K '
 '$84K-$146K ' '$107K-$172K ' '$49K-$85K ' '$61K-$109K ' '$88K-$148K '
 '$60K-$99K ' '$41K-$72K ' '$96K-$161K ' '$65K-$130K ' '$52K-$81K '
 '$139K-$220K ' '$50K-$102K ' '$85K-$139K ' '$74K-$122K ' '$99K-$157K '
 '$79K-$222K ' '$57K-$118K ' '$86K-$141K ' '$94K-$154K ' '$37K-$76K '
 '$100K-$160K ' '$55K-$100K ' '$60K-$114K ' '$39K-$68K ' '$64K-$107K '
 '$31K-$65K ' '$34K-$62K ' '$117K-$231K ' '$79K-$134K ' '$52K-$93K '
 '$55K-$116K ' '$72K-$123K ' '$74K-$124K ' '$40K-$73K ' '$102K-$164K '
 '$89K-$153K ' '$61K-$110K ' '$65K-$110K ' '$200K-$275K' '$68K-$123K '
 '$80K-$129K ' '$39K-$71K ' '$38K-$85K ' '$121K-$193K ' '$54K-$102K '
 '$102K-$163K ' '$76K-$140K ' '$60K-$101K ' '$82K-$133K ' '$65K-$125K '
 '$91K-$148K ' '$95K-$173K ' '$77K-$124K ' '$80K-$135K ' '$85K-$159K '
 '$80K-$105K' '$43K-$81K ' '$29K-$50K ' '$26K-$55K ' '$61K-$118K '
 '$60K-$102K ' '$112K-$182K ' '$51K-$112K ' '$113K-$223K ' '$72K-$129K '
 '$71K-$123K ' 'Employer Provided Salary:$120K-$145K' '$80K-$120K '
 '$80K-$130K ' '$59K-$115K ' '$71K-$136K ' '$81K-$167K ' '$71K-$204K '
 '$75K-$125K ' '$77K-$136K ' '$74K-$123K ' '$44K-$78K ' '$65K-$148K '
 '$59K-$110K ' '$85K-$134K ' '$124K-$204K ' '$131K-$207K ' '$110K-$174K '
 '$52K-$101K ' '$81K-$133K ' '$132K-$211K ' '$74K-$140K ' '$100K-$190K '
 '$43K-$80K ' '$17-$24 Per Hour' '$91K-$149K ' '$42K-$82K ' '$116K-$185K '
 '$59K-$116K ' '$48K-$95K ' '$31K-$72K ' '$105K-$198K ' '$98K-$182K '
 '$73K-$124K ' 'Employer Provided Salary:$200K-$250K' '$21-$34 Per Hour'
 '$117K-$206K ' '$111K-$183K ' '$81K-$159K ' '$83K-$166K ' '$114K-$182K '
 '$42K-$76K ' '$114K-$179K ' '$60K-$123K ' '$100K-$166K ' '$108K-$173K '
 '$48K-$93K ' '$54K-$115K ' '$60K-$127K ' '$90K-$179K ' '$138K-$224K '
 '$190K-$220K' '$35K-$62K ' '$18-$25 Per Hour' '$39K-$66K ' '$42K-$86K '
 '$69K-$127K ' '$40K-$68K ' '$49K-$113K ' '$75K-$140K ' '$66K-$112K '
 '$76K-$125K ' '$44K-$86K ' '$15-$25 Per Hour' '$53K-$92K ' '$65K-$120K '
 '$60K-$103K ' '$53K-$105K ' '$33K-$62K ' '$48K-$90K ' '$34K-$64K '
 '$66K-$111K ' '$91K-$138K ' '$62K-$114K ' '$71K-$129K ' '$74K-$119K '
 '$55K-$97K ' '$15K-$16K' '$61K-$106K ' '$127K-$199K ' '$74K-$126K '
 '$33K-$72K ' '$37K-$63K ' '$67K-$119K ' '$72K-$117K ' '$78K-$126K '
 '$116K-$194K ' '$83K-$133K ' '$45K-$82K ' '$83K-$135K ' '$70K-$122K '
 '$70K-$132K ' '$54K-$101K ' '$68K-$112K ' '$42K-$74K ' '$95K-$161K '
 '$76K-$126K ' '$108K-$176K ' '$130K-$208K ' '$37K-$68K ' '$52K-$99K '
 '$105K-$173K ' '$71K-$134K ' '$39K-$82K ' '$88K-$162K ' '$55K-$99K '
 '$67K-$117K ' '$92K-$150K ' '$116K-$209K ' '$38K-$82K '
 'Employer Provided Salary:$85K-$90K' '$62K-$119K ' '$84K-$136K '
 '$52K-$89K ' '$65K-$119K ' '$63K-$101K ' '$127K-$202K ' '$31K-$57K '
 '$75K-$143K ' '$105K-$194K ' '$45K-$86K ' '$95K-$154K ' '$80K-$148K '
 '$36K-$62K ' '$50K-$92K ' '$67K-$135K ' '$42K-$80K ' '$68K-$139K '
 '$34K-$92K ' '$54K-$71K ' '$65K-$124K ' '$109K-$200K ' '$61K-$113K '
 '$43K-$86K ' '$74K-$149K ' '$113K-$196K ' '$97K-$160K '
 '$24-$39 Per Hour' '$102K-$172K ' '$108K-$171K ' '$76K-$142K '
 '$202K-$306K ' '$49K-$97K ' '$65K-$134K ' '$32K-$59K ' '$87K-$158K '
 '$107K-$173K ' '$56K-$99K ' 'Employer Provided Salary:$25-$28 Per Hour'
 '$80K-$155K ' '$43K-$98K ' '$45K-$78K ' '$44K-$96K ' '$50K-$110K '
 '$61K-$119K ' 'Employer Provided Salary:$100K-$140K' '$56K-$91K '
 '$101K-$158K ' '$125K-$210K ' '$43K-$77K ' '$139K-$221K ' '$78K-$147K '
 '$37K-$66K ' '$38K-$64K ' '$43K-$82K ' '$90K-$110K' '$93K-$151K '
 '$40K-$101K ' '$97K-$180K ' '$81K-$134K ' '$84K-$157K ' '$121K-$203K '
 '$52K-$85K ' '$81K-$140K ' '$83K-$148K ' '$31K-$55K ' '$102K-$178K '
 'Employer Provided Salary:$110K-$130K' '$48K-$85K ' '$66K-$123K '
 '$92K-$146K ' '$21-$29 Per Hour' '$10-$17 Per Hour' '$150K-$239K '
 '$52K-$91K ' '$82K-$129K' '$47K-$101K ' '$49K-$76K ' '$43K-$88K '
 '$124K-$199K ' '$97K-$181K ' '$100K-$173K ' '$53K-$96K ' '$65K-$96K '
 '$75K-$127K ' '$94K-$139K ' '$176K-$289K ' '$92K-$149K ' '$118K-$188K '
 '$108K-$146K ' '$65K-$106K ' '$55K-$98K ' '$94K-$162K ' '$63K-$120K '
 '$126K-$228K ' '$80K-$134K ' '$85K-$142K ' '$87K-$140K ' '$76K-$127K '
 '$54K-$92K ' '$61K-$100K ' '$112K-$179K ' '$63K-$111K ' '$75K-$126K '
 '$110K-$184K ' '$76K-$145K ' '$70K-$118K ' '$94K-$153K ' '$150K-$180K '
 '$42K-$77K ' '$47K-$85K ' '$62K-$112K ' '$64K-$108K ' '$89K-$144K '
 '$55K-$105K ' '$135K-$211K ' '$57K-$80K ' '$129K-$215K ' '$63K-$127K '
 '$50K-$89K ' '$71K-$124K ' '$69K-$121K ' '$150K-$238K ' '$77K-$132K '
 '$59K-$112K ' '$35K-$65K ' '$79K-$147K ' '$119K-$187K ' '$90K-$157K '
 '$32K-$62K ' '$116K-$208K ' '$102K-$165K ' '$91K-$159K ' '$80K-$133K '
 '$39K-$69K ' '$27K-$48K ' '$36K-$71K ' '$130K-$206K ' '$99K-$178K '
 '$86K-$137K ' '$37K-$100K ' '$58K-$111K ' '$72K-$133K ' '$61K-$126K '
 '$95K-$160K ' '$33K-$61K ' '$69K-$119K ' '$67K-$127K ' '$66K-$117K '
 '$50K-$98K ' '$90K-$153K ' 'Employer Provided Salary:$100K-$135K'
 '$42K-$79K ' '$84K-$153K ' '$44K-$73K ' '$40K-$87K ' '$72K-$142K '
 '$74K-$137K ' '$57K-$109K ' '$136K-$208K ' '$171K-$272K ' '$65K-$126K '
 '$118K-$228K ' '$113K-$182K ' '$58K-$104K ' '$58K-$108K ' '$81K-$161K '
 '$115K-$220K ' '$71K-$144K ' '$32K-$57K ' '$79K-$136K ' '$48K-$113K '
 '$27-$47 Per Hour' '$68K-$125K ' '$39K-$67K ' '$71K-$135K ' '$61K-$123K '
 '$87K-$141K ' '$71K-$121K ' '$72K-$121K ' '$51K-$88K ' '$101K-$141K '
 '$79K-$127K ' '$81K-$132K ' 'Employer Provided Salary:$120K-$140K'
 '$65K-$113K ' '$59K-$125K ' '$80K-$142K ' '$62K-$113K ']

In [101]:
# Remove the 'K' and "$"
remove_kd = salary.apply(lambda x: x.replace('K','').replace('$',''))

In [102]:
remove_kd.head()

0     53-91
1    63-112
2     80-90
3     56-97
4    86-143
Name: Salary Estimate, dtype: object

In [103]:
# Before cleaning the column 'Salary Estimate' Lets make the two new columns based on 'per hour'
 # and 'Employer Provided Salary'
jobs['Hourly'] = jobs['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)

In [104]:
# Lets do the same for 'Employer Provided Salary'
jobs['Employer_provided'] = jobs['Salary Estimate'].apply(lambda x : 1 if 'Employer Provided Salary' in x.lower() else 0)

In [105]:
# Lets take a look
jobs.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Hourly,Employer_provided
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0

In [106]:
# Now we have to remove the "Employer Provided" and "per hour"
salary_range = remove_kd.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))

In [107]:
salary_range

0       53-91
1      63-112
2       80-90
3       56-97
4      86-143
        ...
950    58-111
951    72-133
952     56-91
953    95-160
955    61-126
Name: Salary Estimate, Length: 742, dtype: object

In [108]:
# Now we can split the minimun and max salary (since we already created the column 'hourly', we are ok)
jobs['min_salary'] = salary_range.apply(lambda x: int(x.split('-')[0]))
jobs['max_salary'] = salary_range.apply(lambda x: int(x.split('-')[1]))

In [109]:
jobs.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Hourly,Employer_provided,min_salary,max_salary
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143

In [110]:
# Lets add an extra column for average salary 
jobs['Avg_salary'] = (jobs.min_salary+jobs.max_salary)/2

In [118]:
# Company name looks like that has the rating in the last 3 characters and Ratings <0  don't have the rating in the name
jobs['Company_name'] = jobs.apply(lambda x: x['Company Name'] if x['Rating'] <0 else x['Company Name'][:-3], axis=1)

In [119]:
jobs.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Hourly,Employer_provided,min_salary,max_salary,Avg_salary,Company_name
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0,Tecolote Research\n
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5,University of Maryland Medical System\n
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0,KnowBe4\n
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,PNNL\n
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5,Affinity Solutions\n

In [122]:
# Lets extractstate from location
jobs['Job_state'] = jobs['Location'].apply(lambda x: x.split(',')[1])

In [137]:
jobs.Job_state.value_counts()

 CA             151
 MA             103
 NY              72
 VA              41
 IL              40
 MD              35
 PA              33
 TX              28
 NC              21
 WA              21
 NJ              17
 FL              16
 OH              14
 TN              13
 DC              11
 CO              11
 UT              10
 IN              10
 WI              10
 MO               9
 AZ               9
 AL               8
 GA               6
 KY               6
 MI               6
 DE               6
 CT               5
 IA               5
 LA               4
 NE               4
 OR               4
 NM               3
 KS               3
 MN               2
 ID               2
 SC               1
 Los Angeles      1
 RI               1
Name: Job_state, dtype: int64

In [139]:
# Job_state needs to be fix "los Angeles" by CA
jobs['Job_state']= jobs.Job_state.apply(lambda x: x.strip() if x.strip().lower() != 'los angeles' else 'CA')
jobs.Job_state.value_counts()

CA    152
MA    103
NY     72
VA     41
IL     40
MD     35
PA     33
TX     28
WA     21
NC     21
NJ     17
FL     16
OH     14
TN     13
CO     11
DC     11
IN     10
UT     10
WI     10
AZ      9
MO      9
AL      8
DE      6
GA      6
KY      6
MI      6
IA      5
CT      5
NE      4
LA      4
OR      4
KS      3
NM      3
MN      2
ID      2
RI      1
SC      1
Name: Job_state, dtype: int64

In [128]:
# Lets calculate the years of the company
jobs['Years_market'] = jobs.Founded.apply(lambda x: x if x< 1 else 2022-x)

In [135]:
# Add a new columm with the most wanted skills in the job description
jobs['Python'] = jobs['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
jobs['Sparks'] = jobs['Job Description'].apply(lambda x: 1 if 'sparks' in x.lower() else 0)
jobs['Excel'] = jobs['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
jobs['Tableau'] = jobs['Job Description'].apply(lambda x: 1 if 'tableau' in x.lower() else 0)
jobs['Power_BI'] = jobs['Job Description'].apply(lambda x: 1 if 'power bi' in x.lower() else 0)
jobs['Python'] = jobs['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
jobs['SQL'] = jobs['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)
jobs['ML'] = jobs['Job Description'].apply(lambda x: 1 if 'machine learning' in x.lower() else 0)
jobs['Statistics'] = jobs['Job Description'].apply(lambda x: 1 if 'statistics' in x.lower() else 0)
jobs['AWS'] = jobs['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

In [140]:
jobs.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Years_market,Python,Sparks,Excel,Tableau,Power_BI,SQL,ML,Statistics,AWS
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,49,1,0,1,1,1,0,1,0,0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,38,1,0,0,0,0,0,1,1,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,12,1,0,1,0,0,1,1,1,0
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,57,1,0,0,0,0,0,1,1,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,24,1,0,1,0,0,1,1,1,0

In [142]:
jobs.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Hourly', 'Employer_provided', 'min_salary', 'max_salary', 'Avg_salary',
       'Company_name', 'Job_state', 'Years_market', 'Python', 'Sparks',
       'Excel', 'Tableau', 'Power_BI', 'SQL', 'ML', 'Statistics', 'AWS'],
      dtype='object')

In [144]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 742 entries, 0 to 955
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          742 non-null    object
 1   Salary Estimate    742 non-null    object
 2   Job Description    742 non-null    object
 3   Rating             742 non-null    float64
 4   Company Name       742 non-null    object
 5   Location           742 non-null    object
 6   Headquarters       742 non-null    object
 7   Size               742 non-null    object
 8   Founded            742 non-null    int64
 9   Type of ownership  742 non-null    object
 10  Industry           742 non-null    object
 11  Sector             742 non-null    object
 12  Revenue            742 non-null    object
 13  Competitors        742 non-null    object
 14  Hourly             742 non-null    int64
 15  Employer_provided  742 non-null    int64
 16  min_salary         742 non-null    int64
 17  max_salary         742 non-null    int64
 18  Avg_salary         742 non-null    float64
 19  Company_name       742 non-null    object
 20  Job_state          742 non-null    object
 21  Years_market       742 non-null    int64
 22  Python             742 non-null    int64
 23  Sparks             742 non-null    int64
 24  Excel              742 non-null    int64
 25  Tableau            742 non-null    int64
 26  Power_BI           742 non-null    int64
 27  SQL                742 non-null    int64
 28  ML                 742 non-null    int64
 29  Statistics         742 non-null    int64
 30  AWS                742 non-null    int64
dtypes: float64(2), int64(15), object(14)
memory usage: 185.5+ KB

In [143]:
# Lets export the file to explore the data and get some insights in Tableau
jobs.to_csv('glassdoor_cleaned.csv',index = False)